<h1>
    LOGIN
</h1>
<form [formGroup]="projectForm" (ngSubmit)="submitForm()">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div>
        <label for="phone">Phone:</label>
        <input type="number" id="phone" formControlName="phone">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
    </div>
    <div>
        <label for="date">Date of birth:</label>
        <input type="date" id="date" formControlName="date">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
    </div>

    <button type="submit" [disabled]="!projectForm.valid">Submit</button>
</form>